requests==2.32.3
pandas==2.2.3
matplotlib==3.10.1
aiohttp==3.11.14
psycopg2-binary==2.9.5
fuzzywuzzy==0.18.0
geopy==2.4.1
networkx==3.4.2
python-Levenshtein==0.27.1
pre_commit==4.2.0
python-dotenv==1.0.1
